.selectedIntents {
  width: 25%;
  float: left;
}

.selectedIntents div {
  width: 100%;
}
.noselected {
  text-align: center;
}

.noselected p {
  color: #9b9b9b;
}

.selectedIntents>div{
  padding: 0;margin:10px;
}

.selectedIntents h4{
  margin: 0;font-size: 10pt;
}


